<div class="m-3">
    <div *ngFor="let pro of projects" class="shadow px-3 py-2 rounded">
        <div pro="pro" class="my-4">
            <div class="d-flex justify-content-between">
                <h3>{{pro.head}}</h3>
                <h4>{{pro.createdDate| date}}</h4>

            </div>
            <div class="row mx-2">
                <div class="col-md-6">
                    <img style="width: 60vh;" class="borderStyle" [style.box-shadow]="'0px 0px 2px black'"
                        (mouseenter)="onMouseEnter(pro)" (mouseleave)="onMouseLeave(pro)" [class.zoom]="pro.isHovered"
                        src={{pro.image}}>
                    <!-- <img style="width: 70vh;" [@imageZoom]="isHovered" (mouseenter)="onMouseEnter()"
                        (mouseleave)="onMouseLeave()" src={{pro.image}}> -->
                </div>
                <div class="col-md-6">
                    <p><i>{{pro.desc}}</i></p>
                    <div>
                        <h5>Technologies Used</h5>
                        <div class="d-flex flex-row">
                            <p class="mx-4" *ngFor="let tech of pro.techUsed">
                                <img style="height: 50px;" src="{{tech}}">
                            </p>
                        </div>
                    </div>
                    <div>
                        <h5>Live Links</h5>
                        <div class="d-flex flex-row">
                            <div class="mx-3" *ngFor="let link of pro.LiveLink">
                                <a [href]="link.link"><img style="height: 50px;" src={{link.linkIcon}}></a>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>