<div class="position-fixed  mt-3">
    <div class="flex flex-column  ">
        <div [class.cursor]="true">
            <a  style="color: black;" href="https://www.linkedin.com/in/saurabh-sharma-a24259121/">
                <i class="bi bi-linkedin h3"></i>
            </a>
        </div>
        <div [class.cursor]="true">
            <a style="color: black;" href="https://github.com/SAURABH200301">
                <i class="bi bi-github h3"></i>
            </a>
        </div>
        <div [class.cursor]="true"><i class="bi bi-instagram h3"></i></div>
        <div [class.cursor]="true"><i class="bi bi-twitter-x h3"></i></div>
    </div>
</div>